/** Body css ***/
body{
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: black;
    

}
/*-------flexible container css start-----------*/
.flexible-container{
    padding-bottom: 130px;
}
/*--------span tag css start-----*/
span{
    color: #ffac57;
}
/**-----------------------hero section css start********/
.hero-section{
    display: flex;
}
/*-------flexible container css start-----------*/
.flexible-container{
    padding-bottom: 130px;
}
.hero-section-content{
    width: 100%;
    padding-left: 7%;
    padding-top: 100px;
   
} 
.mission-2022 {
    font-size: 50px;
    border-left: 5px solid #ffac57;
    border-radius: 5px;
    padding-left: 8px;
    font-family: serif;
}
.hero-section-img img{
    width: 70%;
    padding-left: 19%;

}

.hero-section-content p{
    line-height: 30px;
    padding-bottom: 30px;
    padding-top: 25px;
}

/**------------------link button css *****/
.link-button{
    text-decoration: none;
    padding: 15px 30px;
    background-color: #ffac57;
    border-radius: 5px;
    font-weight: 700;
    color: black;
    box-shadow: 10px 10px 20px rgb(202, 199, 199);

}
.Scroll-down{
    padding-top: 30px;
}
/*****************my skil section css start-------------***/
.my-skill-title{
    text-align: center;
    font-size: 42px;
    padding-bottom: 30px;
}
.my-skill-perent-div{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}
.my-skill-child-div-1{
    width: 50%;
    background-color: #f6f5ed;
    margin-left: 2%;
    padding: 15px;
    border-radius: 10px;
    margin-right: 2%;
    box-shadow: 10px 10px 30px thistle;
}
.my-skill-child-div-2{
    background-color: #ffeeee;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 10px 10px 30px thistle;
}
.my-skill-child-div-3{
    background-color: #fff4d6;
    margin-left: 2%;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 10px 10px 30px thistle;

}
.my-skill-child-div-1 img{
    width: 50%;

}
.my-skill-child-div-2 img{
    width: 50%;

}
.my-skill-child-div-3 img{
    width: 50%;

}
/*******-develop section css start -------*********/
.develop-section-parents-div{
    display: flex;
    width: 100%;
   
}
.develop-section-img img{
    width: 60%;
    margin-left: 12%;
    box-shadow: 10px 10px 30px thistle;
    border-radius: 30px;
   
   

}
.develop-section-img{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: left;
    background-size: 20%;
    
}

.develop-section-content{
    width: 100%;
    padding-right: 30px;
    

}
.develop-section-content .title{
    line-height: 40px;
}
.develop-section-content p{
    padding-bottom: 30px;
    line-height: 30px;
}

/******----------Community Section css start********/
.Comunity-section-parents-div{
    display: flex;
    width: 100%;
}
.Comunity-section-content{
    width: 100%;
    margin-left: 6%;
 
}
.Comunity-section-content .title{
    line-height: 40px;
}
.Comunity-section-content p{
    padding-bottom: 30px;
    line-height: 30px;
}


.Comunity-section-img img{
    width: 65%;
    margin-left: 25%;
    box-shadow: 10px 10px 30px thistle;
    border-radius: 30px;
}
.Comunity-section-img{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
    background-size: 20%;
   
    
}
/*-----------------------Contact us sectioon css start---------*/
.contact-us-parents-div{
    display: flex;
}
.contact-us-title{
    font-size: 45px;
    text-align: center;
    padding-bottom: 30px;
}
.map{
    width: 50%;
    margin-left: 5%;
}
iframe{
    box-shadow: 10px 10px 30px thistle;
}
.contact-form{
    width: 50%;
    margin-right: 5%;
    margin-left: 2%;
    
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: 10px 10px 20px thistle;
}
input[type=submit] {
  background-color: #171a27;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*-----------------footer section css start----------------*/
.footer-section{
    text-align: center;
    background-color: #0b0d17;
    padding-top: 50px;
    padding-bottom: 30px;
    color: white;
}